[buildout]
develop = .
parts = app test
extends = versions.cfg
versions = versions
newest = false

# eggs will be installed in the default buildout location
# (see ~/.buildout/default.cfg)

[versions]
gp.fileupload = 0.5

[app]
recipe = zc.recipe.egg
eggs = eztranet
       ipython
       zope.app.apidoc
       zope.app.securitypolicy
       z3c.evalexception>=2.0
       Paste
       PasteScript
       PasteDeploy
       zope.app.locales
       gp.fileupload


interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = eztranet
defaults = ['--tests-pattern', '^f?tests$', '-v']
