body {
background: #666699;
color: #C6CCE7;
background-image: url(/@@/images/fond.png);
background-repeat: repeat-x;
}
a { text-decoration: none; color: #C6CCE7; }
a:hover { color: #F9F9FC; }
h1 {
font-size: 150%;
margin: 5px;
padding-left: 5px;
}

div#login_logout {
position: absolute;
top: 3%;
left: 3%;
}

div#main {
float: left;
margin-top: 22px;
width: 590px;
background-image: url(/@@/images/fondmain.png);
background-repeat: no-repeat;
border: solid 2px #4F4F77;
}

div#breadcrumb {
font-size: 80%;
margin-bottom: 10px;
padding-left: 5px;
}

div#navigationTree {
background: #52527A;
float: left;
width: 200px;
margin-top: 112px;
margin-left: 10%;
overflow: hidden;
}
ul#main_menu {
list-style-type: none;
margin-bottom: 7px;
margin-top: 65px;
margin-left: 170px;
}
ul#main_menu li {
    display: inline;
}
ul#main_menu a {
    font-weight: bold;
}

ul#eztranet_actions {
width: 100%;
list-style-type: none;
margin: 0;
padding: 0;
background-color: #8585AD;
}
ul#eztranet_actions a {
color: white;
}
ul#eztranet_addings {
font-size: 80%;
text-align: right;
width: 100%;
list-style-type: none;
margin: 0;
padding: 0;
}
ul#eztranet_actions li, ul#eztranet_addings li {
display: inline;
padding-left: 5px;
padding-right: 5px;
}

div#body {
margin-top: 10px;
}

/*  Styles for xmltree */
#navtreecontents a { cursor: pointer; height: 20px; }
#navtreecontents loading { display: block; padding-left: 31px; height: 18px; }
#navtreecontents expand { background-repeat: no-repeat; padding-left: 14px; display: inline; cursor: pointer; }
#navtreecontents icon { background-repeat: no-repeat; padding-left: 20px; display: inline;  cursor: auto; }
#navtreecontents collection { display: block; margin-left: 10px; height: auto; }

div#video_toolbar {
background: white;
width: 100%;
}
div#video_toolbar a {
margin-right: 10px;
color: orange;
text-decoration: none;
}
div#image_toolbar a {
margin-right: 10px;
color: orange;
text-decoration: none;
}

div.item {
float: left;

height: 15em;
text-align: center;
overflow: hidden;
margin-right: 10px;
}
div.item a {
display: block;
}
a img { border: none; }
.itemcreated, .itemmodified, .itemsize { font-size: 75%; }
img.up { margin-top: 15px; }